// COLORS
$text-color: #b0bdc7;
$nav-border: rgba(#b0bdc7, 0.4);
$primary-color: #fec62d;


// FONT
$default-font-size: 1.6rem;


// GRID
$grid-width: 0rem;
$gutter-vertical: 0rem;
$gutter-horizontal: 0rem;